/* -- Initialise functions -- */
#ministrat-map-overlay-canvases {
  position: absolute;

  > canvas {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 92vh;
    width: 92vh;

    opacity: 0.2; /* -- Temporary: debug attribute -- */
  }
  > img {
    display: none;
  }

  > #ministrat-terrain-canvas {
    opacity: 0;
  }
}