/* -- Topbar layout -- */
.ministrat-container #ministrat-topbar-container {
  position: absolute;

  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  top: 1rem;
  right: 1rem;
  z-index: 3;

  /* -- Clock CSS -- */
  #ministrat-clock {
    float: right;
  }

  /* -- Time control icons -- */
  #time-controls-container {
    float: right;
  }
  .time-icon {
    height: 1.75rem;
    width: 1.75rem;
  }
  .time-icon:not(.active) {
    filter: opacity(0.2);
  }
  .time-icon:hover {
    cursor: pointer;
  }

  /* -- Time display styling -- */
  #date-container {
    font-family: "Engschrift";
    font-size: 1.5rem;
    color: rgba(40, 255, 226, 0.8);
    text-transform: uppercase;

    margin-bottom: 0.5rem;
  }
}