/* -- Parallax header positioning -- */
.project-listings {
	position: absolute;
	top: calc(5vh + var(--parallax-offset-y));
	left: calc(5vw + var(--parallax-offset-x));
}
.ctd-header {
	position: absolute;
	top: calc(20vh + var(--parallax-offset-y));
	left: calc(7vw + var(--parallax-offset-x));
}
.crd-header {
	position: absolute;
	top: calc(20vh + var(--parallax-offset-y));
	left: calc(23vw + 214vh + var(--parallax-offset-x));
}
.cad-header {
	position: absolute;
	top: calc(20vh + var(--parallax-offset-y));
	left: calc(23vw + 430vh + var(--parallax-offset-x));
}